@using Estacionamento.Web.Controllers;
@model LoginRequest

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center card-body">
    <form method="post" asp-controller="Conta" asp-action="Index">

        <span asp-validation-for="Login" class="text-danger"></span>

        <div>
            <div class="p-5">
                <div>
                    <input type="email" class="form-control" placeholder="E-mail" asp-for="Login"/>
                </div>

                <div class="mt-3">
                    <input type="password" class="form-control" placeholder="Senha" />
                </div>

                <div class="text-danger mt-3" ng-bind="mensagem" ng-show="mensagem"></div>

                <div class="mt-3">
                    <button class="btn btn-primary w-100" ng-disabled="entrando">
                        Entrar
                    </button>
                </div>
@*                 <div class="mt-3 d-flex justify-content-center">
                    <a href="@Url.Action("ForgotPassword")" class="esqueci-a-senha">Esqueci a senha</a>
                </div> *@
            </div>
        </div>
    </form>
</div>