@using Estacionamento.Domain.Clientes;
@using Estacionamento.Domain.Enums;
@using Estacionamento.Domain.MovimentacoesDeCaixa;
@model MovimentacaoDeCaixa
@{
    var fluxos = Html.GetEnumSelectList<Fluxo>();
    ViewBag.Title = "Cliente";
}
@section scripts{
    <script src=""></script>
}
<form asp-controller="Cliente" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id">
    <div>
        <h3>@ViewBag.Title</h3>
        <div class="card">
            <div class="card-body">

                <div class="form-group mt-3">
                    <label for="Descricao">Descricao</label>
                    <input type="text" asp-for="Descricao" class="form-control" id="Descricao" placeholder="Descricao">
                    @Html.ValidationMessageFor(q => q.Descricao)
                </div>

                <div class="row">
                    <div class="col-lg-4 mt-3">
                        <div class="form-group">
                            <label for="Valor">Valor</label>
                            <input type="text" asp-for="Valor" class="form-control" id="Valor" placeholder="Valor">
                            @Html.ValidationMessageFor(q => q.Valor)
                        </div>
                    </div>

                    <select asp-for="Fluxo" asp-items="fluxos" class="form-control"></select>
                    @Html.ValidationMessageFor(q => q.Fluxo)


                    <div class="col-lg-4 mt-3">
                        <div class="form-group">
                            <label for="Data">Data</label>
                            <input type="text" asp-for="Data" class="form-control" id="Data" placeholder="Data">
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary btn-block">Adicionar</button>
                </div>

            </div>
        </div>
    </div>
</form>
