html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

px-custom-lg {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}