@using Estacionamento.Domain.Usuarios;
@model Usuario
@{
    ViewBag.Title = "Usuário";
}
@section scripts{
    <script src=""></script>
}
<form asp-controller="Usuario" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id">
    <div>
        <h3>@ViewBag.Title</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Nome">Nome</label>
                            <input type="text" asp-for="Name" class="form-control" id="Nome" placeholder="Nome">
                            @Html.ValidationMessageFor(q => q.Name)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Email">E-mail</label>
                            <input type="text" asp-for="Email" class="form-control" id="Email" placeholder="Email">
                            @Html.ValidationMessageFor(q => q.Email)
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group  mt-3">
                        <label for="Senha">Senha</label>
                        <input type="password" asp-for="Senha" class="form-control" id="Senha" placeholder="*******">
                    </div>
                </div>

                <div>
                    <div class="form-group  mt-3">
                        <label for="Senha">Senha</label>
                        <input type="password" class="form-control" id="Senha" placeholder="*******">
                    </div>
                </div>
                <div class="mt-3 text-end">
                    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>
                    <button class="btn btn-success btn-block">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</form>
